.container {
  display: flex;
  flex-wrap:nowrap;
  align-content:flex-start;
  margin-right: 5px;
  margin-left: 5px;
}

div {
	border: 0px red solid;
	width: 100%;
}


.bar {
	height:100%;
}

.sidebar {
	flex: .3;
	background-color: #D8D8D8;
}

.centerbar {
	flex: 2;
	background-color: #EFEFEF
}

.inner {
	align-content:space-between;
}

#main {
	background-color: #444444;
	height: 30%;
}

#secondary {
	background-color: grey;
	height: 70%;
}